Repository hiashutoshsingh/flutter-animation_examples, pull requests merged in 2020-10, with the labels that each got.

#11 Add slide transition
  lib/home_screen.dart
  lib/slide_transition.dart
Labels: hackoberfest, hackoberfest-accepted

#13 Adds - Size Transition
  lib/home_screen.dart
  lib/size_transition.dart
Labels: dart, flutter, hackoberfest, hackoberfest-accepted, hacktoberfest

#14 Scale Transition
  lib/home_screen.dart
  lib/scale_transition.dart
Labels: dart, flutter, good first issue, hackoberfest, hackoberfest-accepted, hacktoberfest

#16 Rotation Transition
  lib/home_screen.dart
  lib/rotation_transition.dart
Labels: dart, flutter, good first issue, hackoberfest, hackoberfest-accepted, hacktoberfest

#17 Added animation align example
  lib/animation_align.dart
  lib/home_screen.dart
Labels: dart, flutter, good first issue, hackoberfest, hackoberfest-accepted, hacktoberfest

#18 Added physical model animation example
  lib/animation_physical_model.dart
  lib/home_screen.dart
Labels: dart, flutter, good first issue, hackoberfest, hackoberfest-accepted, hacktoberfest

#19 Fixes Disposing Active Tracker
  lib/scale_transition.dart
  lib/size_transition.dart
  lib/slide_transition.dart
Labels: dart, hackoberfest, hackoberfest-accepted, hacktoberfest
